[submodule "third_party/IHP-Open-PDK"]
	path = third_party/IHP-Open-PDK
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "third_party/nangate45-pdk"]
	path = third_party/nangate45-pdk
	url = https://github.com/srcres258/nangate45-pdk.git
[submodule "third_party/FreePDK45_for_KLayout"]
	path = third_party/FreePDK45_for_KLayout
	url = https://github.com/laurentc2/FreePDK45_for_KLayout.git
[submodule "third_party/FreePDK45"]
	path = third_party/FreePDK45
	url = https://gitlab.com/Chips4Makers/freepdk45.git
